<table id="projects_table" class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Milestones</th>
        <th>Categories</th>
        <th>Users</th>
        <th>Actions</th>
    </tr>
    </thead>
    {% for project in projects %}
        {% if current_user.is_admin or current_user.access_project ==project or project in current_user.projects %}
            <tr name="project_tr" id="project_tr{{ project.id }}"
                data-status="{{ project.status }}">
                <td id="project_title{{ project.id }}">{{ project.title }}</td>
                <td>
                    <ul class="list-group" style="display: block;width: 200px;word-wrap: break-word">
                        {% for milestone in project.milestones|sort(attribute='order') %}
                            <li class="list-group-item list-group-item-success">
                                <span class="badge">{{ milestone.tasks|length }}</span>
                                {{ milestone.title }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul class="list-group" style="display: block;width: 250px;">
                        {% for category in project.categories %}
                            <li class="list-group-item" style="background: {{ category.color }}">
                                {{ category.title }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul class="list-group" name="users">
                        {% for user in project.users|sort(attribute='username') %}
                            <li name="{{ user.id }}"
                                class="list-group-item list-group-item-warning">
                                {{ user.username }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    {% if current_user.is_admin or current_user.access_project == project %}
                        <a onclick="show_project_edit_modal('{{ project.id }}')"
                           name="edit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a name="delete"
                           onclick="del_project(this, '{{ project.id }}')">
                                                    <span class="glyphicon glyphicon-trash"
                                                          style="margin-left:8px">
                                                    </span>
                        </a>
                        {% include 'setting/_ProjectEditModal.html' %}

                        <label name="status" style="margin-left:8px;font-weight: normal">
                            {% if project.status %}
                                <input type="checkbox" value="{{ project.id }}" checked>
                            {% else %}
                                <input type="checkbox" value="{{ project.id }}">
                            {% endif %}
                            Active
                        </label>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
