<div class="modal fade" tabindex="-1"
     id="EditProjectModal{{ project.id }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Edit Project</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label>Project Name</label>
                        <span id="old_project_title_span{{ project.id }}" hidden>{{ project.title }}</span>
                        <input id="project_title_input{{ project.id }}" type="text"
                               name="project_title_input{{ project.id }}"
                               class="form-control" value="{{ project.title }}"
                               data-rule='maxlength:30|minlength:3'>
                        <div id="project_title_input{{ project.id }}-input-error" class="input-error">至少3位，最多30位</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 form-group">
                        <label>Milestones</label>
                        <ul id="milestone_ul{{ project.id }}" name="milestones-list" class="list-group">
                            {% from 'macros.html' import render_instance_in_modal %}
                            {% for milestone in project.milestones|sort(attribute='order') %}
                                {{ render_instance_in_modal(milestone,'milestone') }}
                            {% endfor %}
                        </ul>
                        <input type="text"
                               id="milestoneNameInput{{ project.id }}"
                               name="MilestoneNameInput"
                               class="form-control"
                               placeholder="Milestone Name"
                        >
                        <a class="btn btn-default btn-md add_milestone"
                           onclick="add_milestone_or_category('{{ project.id }}', 'milestone')"><span
                                class="glyphicon glyphicon-plus"></span></a>
                    </div>
                    <div class="col-xs-6 form-group">
                        <label>Categories</label>
                        <ul id="category_ul{{ project.id }}" name="category-list" class="list-group">
                            {% from 'macros.html' import render_instance_in_modal %}
                            {% for category in project.categories %}
                                {{ render_instance_in_modal(category,'category') }}
                            {% endfor %}
                        </ul>
                        <input type="text"
                               id="categoryNameInput{{ project.id }}" class="form-control  pull-left"
                               name="CategoryNameInput"
                               placeholder="Category Name">
                        <div name="color_picker_category" id="color_picker{{ project.id }}"></div>
                        <a class="btn btn-default btn-md add_category"
                           onclick="add_milestone_or_category({{ project.id }},'category')">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="select_users{{ project.id }}" class="col-sm-6 form-inline select_users_label">Select
                            Users</label>
                        <span class="form-group form-inline">
                            <label for="filter_by_tag{{ project.id }}"
                                   class="filter_by_tag_label">Filter By Tag:</label>
                                    <select class="form-control" id="filter_by_tag{{ project.id }}">
                                        <option value="-1">All</option>
                                        {% for tag in tags %}
                                            <option value="{{ tag.id }}">{{ tag.tag }}</option>
                                        {% endfor %}
                                    </select>
                                </span>
                        <div id="select_users{{ project.id }}" class="select_users">
                            {% for user in users %}
                                {% if user in project.users %}
                                    <label class="one-third" data-tag_id="{{ user.tag_id }}">
                                        <input name="project_user" type="checkbox"
                                               id="inlineCheckbox{{ user.id }}"
                                               value="{{ user.id }}"
                                               checked> {{ user.username }}
                                    </label>
                                {% else %}
                                    <label class="one-third" data-tag_id="{{ user.tag_id }}">
                                        <input name="normal_user" type="checkbox"
                                               id="inlineCheckbox{{ user.id }}"
                                               value="{{ user.id }}"> {{ user.username }}
                                    </label>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <p class="small clearfix">
                    <em>Administrators have access to all projects, whether or not they are selected here.</em>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
                <a type="button" class="btn btn-primary" name="delete"
                   onclick="project_modal_save('{{ project.id }}')">Save
                    changes
                </a>
            </div>
        </div>
    </div>
</div>