[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
# ZSH_THEME="robbyrussell"
name = "pypi"
verify_ssl = true

[dev-packages]
watchdog = "*"
faker = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-login = "*"
sqlalchemy = "*"
flask-moment = "*"
flask-debugtoolbar = "*"
mysqlclient = "*"
flask-assets = "*"

[requires]
python_version = "3.7"
