{% extends 'base.html' %}
{% block title %}Settings{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layui.css') }}" type="text/css">
    <style>

    </style>
{% endblock %}
{% block content %}
    {% include '_navbar.html' %}
    <div class="container">
        <ul class="layui-timeline">
            {% if before_week >= 0 %}
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text" style="font-size: 18px;"><a
                            href="{{ url_for('timeline.index', week=before_week) }}">Go Future</a></div>
                </li>
            {% else %}
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text" style="font-size: 18px;">Today</div>
                </li>
            {% endif %}
            {% for date in week_logs_dict.keys() %}
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">{{ date }}</h3>
                        {% for log in week_logs_dict[date] %}
                            <p style="font-size: 16px;color: {{ log.color }};">{{ log.log }}</p>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
            {% if last_week == -1 %}
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text" style="font-size: 18px;">End</div>
                </li>
            {% else %}
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text" style="font-size: 18px;"><a
                            href="{{ url_for('timeline.index', week=last_week) }}">Go Past</a></div>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(function () {
            $('#statistics').addClass('active').children('a').removeAttr('href');
        });
    </script>
{% endblock %}

