<div class="modal fade" tabindex="-1"
     id="EditUserModal{{ user.id }}">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Edit User</h3>
            </div>
            <div class="modal-body">
                <form id="UserEditModalForm{{ user.id }}">
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <div class="form-group">
                        <label>Change Username</label>
                        <input type="text"
                               name="username" class="form-control"
                               placeholder="Username" value="{{ user.username }}">
                    </div>
                    <div class="form-group">
                        <label>Change Password</label>
                        <input type="password"
                               name="password1" class="form-control"
                               placeholder="New Password" value="">
                    </div>
                    <div class="form-group">
                        <input type="password"
                               name="password2" class="form-control"
                               placeholder="Verify Password">
                    </div>
                    <div class="form-group">
                        <label>Change Email</label>
                        <input type="text" name="email"
                               class="form-control"
                               placeholder="New Email" value="{{ user.email }}">
                    </div>
                    <div class="form-group">
                        <label>Select Default Board</label>
                        <select form="UserEditModalForm{{ user.id }}" class="form-control" name="default_board">
                            <option value="{{ user.default_project.id|default('None') }}">{{ user.default_project.title|default('None') }}</option>
                            {% for project in projects if project !=user.default_project %}
                                <option value="{{ project.id }}">{{ project.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Board Access</label>
                        <select class="form-control" multiple>
                            {% for project in projects %}
                                <option>{{ project.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
                <a type="button" class="btn btn-primary" href="javascript:" name="delete"
                   onclick="user_modal_save(this, '{{ user.id }}')">Save
                    changes
                </a>
            </div>
        </div>
    </div>
</div>