<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link crossorigin="anonymous" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          href="https://lib.baomitu.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link crossorigin="anonymous" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          href="https://lib.baomitu.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='gen/base.min.css') }}" type="text/css">
    {% block style %}

    {% endblock %}

    <title>{% block title %}{% endblock %} - LumiaO</title>
</head>
<body>
{% block content %}

{% endblock %}
<script crossorigin="anonymous" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        src="https://lib.baomitu.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-Ysr53n0PIGi7rAduJ+BAMGbxA9RFQwIQfPh2bD9pf1x3vrnDsdX4SlwCNpxmrPIi"
        src="https://lib.baomitu.com/layer/3.1.1/layer.js"></script>
<script crossorigin="anonymous" integrity="sha384-3FVBPC6KVc/qhio8Uvc2RHtrjsSjJYANs9BGxxxi3J/ueXJO4ZB2BUu2kURd6FDI"
        src="https://lib.baomitu.com/Sortable/1.8.4/Sortable.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-02icBwcoftjtOXiGInO5AGxT8rHHdAZPN5wk822r/erpFrZaCdZvqTOgIwMStoBf"
        src="https://lib.baomitu.com/socket.io/2.2.0/socket.io.slim.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='gen/base2.min.js') }}"></script>
<script type="text/javascript">
    var socket = io('/');
    $(function () {
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    let csrftoken = $('meta[name=csrf-token]').attr('content');
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });
        socket.on('refresh', function (data) {
            console.log(data);
            if (data === 'refresh') {
                setTimeout(() => {
                    parent.location.reload();
                }, 700);
            }
        });
    });


</script>
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('base.get_js') }}"></script>
{% endblock %}
</body>
</html>