<div class="project_title">
    <span class="line" id="line1"></span>
    <span class="title text-capitalize">{{ project.title }}</span>
    <span class="line" id="line2"></span>
    <span id="store_project_id_for_ajax" hidden>{{ project.id }}</span>
</div>
<div class="layui-progress">
    <div class="layui-progress-bar layui-bg-orange" lay-percent="{{ complete_percent }}%"></div>
</div>
<div class="layui-collapse">
    {% for milestone in project.milestones %}
        <div class="layui-colla-item">
            <h2 class="layui-colla-title text-capitalize">{{ milestone.title }}
                <span class="layui-badge layui-bg-black">{{ milestone.tasks|length }}</span>
            </h2>
            <div id="layui_colla_content{{ milestone.id }}" class="layui-colla-content">
                {% if milestone.tasks %}
                    {% for task in milestone.tasks|sort(attribute='due_date') %}
                        <div id="task_card{{ task.id }}" class="layui-card" style="background: {{ task.color }};">
                            <div class="layui-card-header">{{ task.title }}
                                {% if task.files %}
                                    <span class="pull-right"><i
                                            class="fa fa-paperclip"></i></span>
                                {% endif %}
                                {% if task.comments %}
                                    <span class="pull-right"><i
                                            class="fa fa-comments-o"></i></span>
                                {% endif %}
                                <span class="pull-right">Points:{{ task.points }}</span>
                                <span class="due-date pull-right" name="task_due_date_in_milestone">
                                    Due:{{ task.due_date }}</span>
                            </div>
                            <div class="layui-card-body">{{ task.description }}</div>
                            {% if task.is_complete or task.task_complete_percent<100 %}
                                <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                                    {% if task.is_complete %}
                                        <div class="layui-progress-bar" lay-percent="100%"></div>
                                    {% else %}
                                        <div class="layui-progress-bar layui-bg-{{ task.task_process_color }}"
                                             lay-percent="{{ task.task_complete_percent }}%">
                                        </div>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="layui-progress layui-progress-big">
                                    <div class="layui-progress-bar layui-bg-red"
                                         lay-percent="{{ task.task_complete_percent }}%">
                                        {% if task.task_complete_percent==100 %}
                                            Only One Day Left
                                        {% else %}
                                            Out of Date
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <hr class="layui-bg-orange">
                    {% endfor %}
                {% else %}
                    <div id="no_task_milestone" class="text-center">No task in this milestone, please
                        <button id="add_project_when_none" class="btn btn-default"
                                onclick="before_task_modal_show('{{ milestone.id }}' )">
                            <span class="glyphicon glyphicon-plus"></span> Add
                        </button>
                        one !
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
