{% extends 'base.html' %}
{% block title %}TaskBoard{% endblock %}
{% block style %}
    <link crossorigin="anonymous" integrity="sha384-Zh2HdzYhUvyBFypsA0C0aEL1cS6VSTxDI7QAl3gMglZyikoqj4fb0CE9Ti49zo/o"
          href="https://lib.baomitu.com/jstree/3.3.8/themes/default/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='gen/taskboard.min.css') }}" type="text/css">
{% endblock %}
{% block content %}
    {% include '_navbar.html' %}
    <div id="board_container" class="container-fluid">
        {% include 'taskboard/_TaskAddModal.html' %}
        <div class="row">
            <div id="project_panel" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Project Tree</h3>
                </div>
                <div id="tree-panel-body" class="panel-body"></div>
            </div>
            <div id="milestone_panel" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Milestone Column</h3>
                </div>
                <div id="milestone-panel-body" class="panel-body">
                </div>
            </div>
            <div id="task_panel" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Task Column</h3>
                </div>
                <div id="task-panel-body" class="panel-body">
                </div>
            </div>
        </div>
        {% if current_user.is_admin %}
            {% include 'setting/_ProjectAddModal.html' %}
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script crossorigin="anonymous" integrity="sha384-7R25F9vMUFngQH7+V1j1DivPGPs7Q3nlqHpzeJ3++2AKqqvnUCGpOiHoWOUPPvTO"
            src="https://lib.baomitu.com/jstree/3.3.8/jstree.min.js"></script>
    <script type="text/javascript" src="{{ url_for('taskboard.get_js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#board').addClass('active').children('a').removeAttr('href');
            LoadMileStone('{{ current_user.default_project_id }}', false, 0);
            $('#tree-panel-body').css('height', size.height - 50 - 38);
            $('.panel').css('height', size.height - 50);
            LoadTree();
            window.onresize = function () {
                setLineWidthByClass('project');
                setLineWidthByClass('task');
            }
        });
    </script>
{% endblock %}
